@import "_variables";

.header {
    height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;

     .header-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: bold;
        color: $color-primary;

        .header-logo {
            width: 40px;
            border-radius: 6px;
        }
    }
}
