// Sizes
$header-height: 70px;
$container-width: 1200px;

// Colors
$color-bg: #fff;
$color-bg-alt: #f7f7f7;
$color-primary: #133167;
$color-primary-dark: #0f254e;

$dark-blue: #011a3b;
$dark-gray: #41526c;
$light-gray: #808b9d;

