@import "_variables";

.content {
    display: flex;
    flex-wrap: wrap;

    app-voting-card {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 28px;

        &:first-child {
            border-right: 2px dashed $color-primary;

            &::after {
                content: "VS";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 12px;

                font-size: 18px;
                font-weight: 700;
                color: $color-primary;
                background-color: $color-bg;
            }
        }
    }
}

@media (max-width: $screen-sm) {
    .content {
        app-voting-card {
            align-items: flex-start;
            
            &:first-child {
                border: none;
            
                &::after { display: none; }
            }
        }
    }
}
