<app-state-wrapper [loading]="loading" [error]="error">
    <section class="page-container">
        <div class="page-content content">
            @if (!loading && cat1 && cat2) {
            <app-voting-card
                [imageUrl]="cat1.imageUrl"
                [label]="cat1.id"
                (vote)="onVote({ winner: cat1, loser: cat2 })"
            />
            <app-voting-card
                [imageUrl]="cat2.imageUrl"
                [label]="cat2.id"
                (vote)="onVote({ winner: cat2, loser: cat1 })"
            />
            <app-bottom-nav [item]="navItem" />
            }
        </div>
    </section>
</app-state-wrapper>
