@import "_variables";

.content {
    .top-ranking,
    .other-ranking {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }

    .top-ranking {
        align-items: flex-end;
        margin-bottom: 32px;

        app-ranking-card {
            box-sizing: border-box;
            flex: 1 1 30%;
            min-width: 220px;

            &.first {
                order: 2;
            }
            &.second {
                order: 1;
            }
            &.third {
                order: 3;
            }
        }
    }

    .other-ranking {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        app-ranking-card {
            width: 100%;
            min-width: 0;
            max-width: 260px;
            justify-self: center;
        }
    }
}

@media (max-width: $screen-md) {
    .content {
        .top-ranking {
            app-ranking-card {
                flex: 1 1 100%;
                &.first,
                &.second,
                &.third {
                    order: initial;
                }
            }

            .other-ranking {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media (max-width: $screen-sm) {
    .content {
        .other-ranking {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: $screen-xs) {
    .content {
        .other-ranking {
            grid-template-columns: 1fr;
        }
    }
}
