@import "_variables";

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty {
    h1 {
        color: $color-primary-dark;
        text-align: center;
        font-size: 28px;
    }
}

.error {
    h1,
    p { color: $color-error; }

    h1 { font-size: 28px; }
    p { font-size: 14px; }
}
